*{
    color: black;
    margin: 0 auto;
    padding: 0;
    height: auto;
    box-sizing: border-box;
  
}
video, img{
    width: 100%;
    height: auto;

}
.top-side{
    display: flex;
    height: 6vw;
    align-items: center;
    border-bottom: #C5AF86 solid 1px;
}
.bot-side{
    display: flex;
    height: 7vw;;
    align-items: center;
    border-bottom: #C5AF86 solid 1px;
}
a{
    text-decoration: none !important;

}
a:hover{
    transition: 0.5s;
    color: darkblue;
}
.nav-name{
    display: flex;
    align-items: center;
}
.nav-review-left a{
    margin-right: 20px;
    color: #C5AF86;
}
.nav-review-right a{
    margin-right: 20px;
    color: #C5AF86;
    float: right;
}
.nav-bot-left{
display: flex;
align-items: center;
}
.nav-bot-right{
    display: flex;
   align-items: center;
}
.nav-bot-left a{
    color: black;
}
#search:before{
    font-size: 25px;
    font-family: 'icomoon';
    content: "\e986";
}
#profile:before{
    font-size: 25px;
    content: "\e971";
    font-family: 'icomoon';
}
#fav:before{
    font-size: 25px;
    font-family: 'icomoon';
    content: "\e9da";
}
#shop:before{
    font-size: 25px;
    font-family: 'icomoon';
    content: "\e93a";
}
#adams-img{
 float: right;
}
#adams-collection{
    float: left;

    
}
#discover-adams-collection{
    border: 0.1px solid #C5AF86;
    display: flex;
    height: 80%;
    align-items: center;
    
}
#night-spot{
    border: 0.1px solid #C5AF86;
    display: flex;
    height: 20%;
   align-items: center;
}
#discover-adams-collection:hover{
    transition: 1.5s;
    background-color: #C5AF86;
}
#night-spot:hover{
    transition: 1.5s;
    background-color: #a45b37;
}
#img-three-one{
    border: 0.1px solid #C5AF86;
    
   
}
#chair-three{
    
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-image: url(../img/download.png);
    border: 0.1px solid #C5AF86;
    
}
#sofa-three:hover{
    background-color:#a45b37;
    
}

#chair-three:hover{
    background-color:#a45b37;
    background-image: url(../img/HP-bf-cat3-desktop-hover.webp);
}
#sofa-three-text h4,
#chair-three-text h4{
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border:0.1px solid #C5AF86;
    color: #C5AF86;
}
#delivery img{
    width: 70px;
    height: 70px;

}
#delivery{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #778379;
    margin-top: 25px;
    height: 30em;
}
#delivery div{
    margin-top: 1em;
}
#delivery h4, 
#delivery h6{
    color: #DBCFB5 !important;
}
#ready-to-ship{
    margin-top: 3em;
}
.ship-text-one,
.ship-text-two,
.ship-text-three{
    margin-top: 1em;
    display: flex;
    align-items: center;
    text-align: center;
}
.ship-text-three h5{
    color: #DBCFB5 !important;
}
.ship-text-three h5:hover{
    transition: 0.5s;
    color: #a45b37 !important;
}
#footer{
    margin-top: 10vh;
    background-color: #a45b37;
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}
#footer-text{
        display: flex;
        align-items: flex-start;
        justify-content: center;
}
#footer-text-one,
#footer-text-two,
#footer-text-three{
    margin-right: 7vh;
}
#footer h5{
    margin-bottom: 1em;
}
#social-media{
    float: right;
    
}
#footer ul {
    position: relative;
    display: flex;
}
#footer ul li {
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}
#footer ul li a {
    text-decoration: none;
}
#footer ul li a .fa-brands {
    font-size: 3em;
    color: #222;
}
#footer ul li a::before {
    font-family: "FontAwesome";
    position: absolute;
    top: -12px;
    left: 0;
    font-size: 3em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

#footer ul li:nth-child(1) a::before {
    content: "\f16d";
    background-image: linear-gradient(45deg, 
      #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,
      #bc1888 100%);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    border-bottom: 4px solid #dc2743;
}
#footer ul li:nth-child(2) a::before {
    content: "\f232";
    color: #25D366;
    border-bottom: 4px solid #25D366;
}
#footer ul li:nth-child(3) a::before {
    content: "\f099";
    color: #1DA1F2;
    border-bottom: 4px solid #1DA1F2;
}
#footer ul li:hover a::before {
    height: auto;
}