*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,li{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none !important;
   
   
}

hr{
    border: 1px solid #B98E67;
}

button{
    text-decoration: none;
    border: none;
    background-color: transparent;
}
a:hover{
   
    color: #FDFCFC
}

.main-dark{
    background-color: #29354B;
}
@font-face {
    font-family: 'montserrat';
    src:url(./Montserrat-VariableFont_wght.ttf)
}
.main-color{
    background-color:#B98E67;
    
}

.hover{
    background-color: #CC9462;
}
.main-light{
    background-color: #FDFCFC;
}

.disabled{
    background-color: #8C9097
}


body{
    font-family: 'montserrat';
    color: #FDFCFC;
}

h1{
    font-size: 56px;

}
h2{
   
    font-size: 60px;
   
}


h3{
    font-size: 40px;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 12px;
}


p{
    font-size: 16px
}

.header a{
    color: #FDFCFC;
}


.navbar{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.header ul{

    display: flex;

    gap: 1rem;
}

.header ul li{
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: .5s;
}

.header ul li:hover{
    border: 1px solid #B98E67;
    transition: .5s;
    
}


.nav-phone{
    border: 1px solid #B98E67;
    border-radius: 25px;
    display: flex;
    padding: 1rem 2rem;

    
}


.nav-phone h4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar>div:nth-child(1){
    margin-bottom: 2rem;
}

.header-bot{
    margin-top: 7rem;
   min-height: 560px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
    background-image: url(../assets/header-background.png);
    background-repeat: no-repeat;
}


.header-content-top>span{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    
}

.header-content-top button{
    border: 1px solid #B98E67;
    height: 40px;
    border-radius: 100px;
}

.header-content-top button:nth-child(1){
    background: #B98E67;
    width: 270px;
    
}
.header-content-top button:nth-child(2){
    width: 170px;
}


.header-content-bot p{
    max-width: 29ch;
}

.why-us-section{
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
}

.why-us-section p{
    max-width: 20ch;
}


.why-us-top,
.why-us-bot{
    display: flex;
    gap: 10rem;
}


.why-us-section span{
    padding: 1rem;
}

.area-estate-section{
    margin-top: 12rem;
}


.area-estate-section form{
    display: flex;
    flex-direction: column;
    background-color: #FDFCFC;
    color: #29354B;
    padding: 3rem;
    gap: 2rem;
    border-radius: 44px;
}

.area-estate-section h2{
    margin-bottom: 3rem;
    font-size: 56px;
}

.area-buttons button{
    padding: 1rem 2rem;
    border-radius: 25px;
    border: 1px solid #29354B;

}

.area-buttons{
    display: flex;
    gap: 1rem;
}

.estate-content{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.estate-content>div{
    border: 1px solid #29354B;
    padding: 2rem;
   
    border-radius: 44px;
}

.estate-content h5{
    max-width: fit-content;
    padding: .8rem;
    border: 1px solid #29354B;
    border-radius: 25px;
}

.estate-inputs{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.estate-inputs input{
    height: 44px;
    width: 257px;

    padding: 0rem 2rem;
    border-radius: 25px;
    border: 1px solid #B98E67;

}
#estate-checkbox{
    width: 30px;
    height: 30px;
}

#submit{
    background-color:#B98E67;
    color: #FDFCFC;
}


.estate-inputs{
    margin-top: 3rem;
}

.estate-inputs p{
    max-width: 25ch;
}

.estate-inputs input[type=text]:active{
  border: 0px solid black;
}

.estate-inputs label{
    margin-left: 2rem;
    display: flex;
    gap: 1rem;
}

.area-buttons button.active {
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    background-color: #B98E67;
    color: #FDFCFC;
}


.estate-item{
    cursor: pointer;
}

.estate-item.active {
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    background-color: #B98E67;
}

.estate-item.active h5 {
    background-color: white;
}

.estate-item svg{
  stroke:  #29354B
}

.estate-item.active svg{
    stroke: #FDFCFC;  
   
}


.best-offer-section{
    margin-top: 10rem;
}

.offer-title{
    margin-bottom: 5rem;
    display: flex;
    
    align-items: center;
    align-content: center;
}

.offer-title span{
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.page-button-span button{
    border: 1px solid #B98E67;
    padding: 1rem 2rem;
    border-radius: 25px;
}

.offer-content span{
  
    display: flex;
    gap:1rem;
}

.offer-content span h5{
    text-align: center;
    padding: .5rem;
    border: 1px solid #B98E67;
    border-radius: 25px;
}

.offer-content>div>div:nth-child(1){
    position: relative;
}

.offer-absolute{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 32px;
    margin-right: 16px;
    border-radius: 25px;
    background-color: #FDFCFC;
    color: #B98E67;
    padding: .5rem 1rem;
}


.offer-img {
    position: relative;
    display: inline-block;
}

.offer-img:hover {
    opacity: calc(60%);
    transition: filter 1s ease;
}

.overlay-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    padding: 10px 20px;
    text-decoration: none;
    display: none;
    background-color: #B98E67;
    border-radius: 25px;
    color: #FDFCFC;
}


.offer-img:hover .overlay-link {
    display: flex;
    gap:1rem;
    align-items: center;
}


.offer-price,
.offer-location{
    display: flex;
    gap:1rem;
    align-items: center;

}

.offer-location{
    margin-top: 2rem;
}



.offer-location svg{
    margin-bottom: 0.8rem;
}


.reasons-section{
    margin-top: 12rem;
}

.reasons-img{
    max-height: 470px;
  

}

.reasons-section h2{
    margin-bottom: 1rem;
    max-width: 22ch;
    font-size: 50px;
}

.reasons-section>div{
    display: flex;
    gap: 3rem;
    flex-direction: column;
}

.reasons-section p{
    max-width: 42ch;
}

.reasons-content h3{
    max-width: 20ch;
}


.pages{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.pages button{
    height: 45px;
}

/* Стили для фиксированного слайдера */


.slider2 {
    display: none;
}
.slider2.active {
    display: block;
}   


.real-estate-slider{
    margin-top: 10rem;
}




.all-objects {
    display: flex;
    margin-top: 6rem;
    gap: 1rem;
    color: #FDFCFC;

    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 .5rem;
    background-color: #B98E67;
    border-radius: 25px;
   
}

.all-objects svg{
   margin-top: 0.3rem;
}

.slider2 span{
    display: flex;
    gap: 1rem;
}

.slider2 h5{
    
    gap: 1rem;
    text-align: center;
    padding: .5rem;
    border: 1px solid #B98E67;
    border-radius: 25px;
}