*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;


}

.main-color{
    color: #336784;
}
.main-color li a{
    color: #336784
}

.green-bg{
    background-color: #67B438;
}

.blue-bg{
    background-color: #336784;
}


.section{
    margin-top: 5rem;
}

body{
    background-color: #F6FAFE;
    font-family: sans-serif;
    
 
}





img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

ul,li{
    margin: 0;
    padding: 0;
}

button{
    text-decoration: none;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input{
   
    background-color: #f5f5f5;
    border: none;
}
input:focus{
    outline: none;
}








#nav-responsive{
   
    position: absolute;
 top: 0;
 left: 0;
  background-color:white;
    height: 100vh;
    width: 100vw;

   display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}






.nav{
    background-color: white;
    padding: 1.5rem 0;
    position: fixed;    
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
   
}


.nav .container{
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.nav ul{
    display: flex;
    gap:2rem;
}


.nav ul li a{
    border-bottom: 4px solid transparent;
    transition: .5s;
}
.nav ul li a:hover{
    border-bottom: 4px solid #67B438;
    transition: .5s;

}

.button{
    border-radius: 42px;
    padding: .5rem 1rem;
    border: 1px solid;
}


.smart-invest{
    background-color: #F6FAFE;
    padding-top: 12rem;
}

.smart-content{
    
    display: flex;
    justify-content: space-between;
}

.smart-buttons{
    display: flex; gap:1rem;
}

.smart-buttons>a:nth-child(1){
    color: white;
    border: #67B438;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.smart-buttons>a:nth-child(2){
    color: #336784;
}


.smart-content-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.smart-content-right{
    min-width: 30%;

}

.smart-content-left h2{
    max-width: 45ch;
}

.smart-prefrence>span{
    display: flex;
    gap: 1rem;

}
.hr{
    border: 2px solid #67B438;
   max-width: 50%;
    
    
}

.blue-section{
    padding: 1.5rem 0;
    color: white;
}

.blue-section-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.blue-section-content>div{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:1rem;

}

.relative{
    position: relative;
}
.absolute{
    position: absolute;
    
}
.absolute-img3{
    left: 83%;
    bottom: 75%;
    z-index: 0;
}
.zIndex1{
    z-index: 1;
}

.absolute-img1{
    z-index: 1;
    bottom:5%;
    left: 0;
}

.absolute-img2{
    bottom: -50px;
    right: 40%;
}


.about-section-content{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}


.box>span{
    display: flex;
   
  
    text-align:center;
    background-color: #EEF3F9;
    padding: 1rem;
  
    border-radius: 16px;
}

.about-section-content span{
    justify-content: space-between;
    margin-top: 2rem;
    flex-direction: column;
    min-height: 320px;
   
}

.about-section-content span>div{
    margin-top: -2rem;
}

.about-sm{
    min-width: 23.5%;
}

.about-lg{
    min-width: 50%;
}

.about-absolute{
    top:50%;
    left: 25px;
}


.about-us .container>div:nth-child(1){
   
    justify-content: start;
}


.about-us p{
    margin: 0 auto;
    max-width: 90ch;
   
}




.pref-list{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    gap: 1rem;
}

.pref-list>span{

    display: flex;
    gap: 3rem;
}

.pref-list>span p{
    max-width: 60ch;
}

.pref-list>span p:nth-child(1){
    font-weight: bold;
}
.pref-list>span p:nth-child(2){
    margin-top: -9px;
}
.pref-list i{
   font-size: 40px;
   color: #67B438;
}


.partners-section .box{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.partners-section .box>span{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 285px;
    max-width: 25%;
    min-width: 24%;
}
.partners-section .box>span>div{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.hr{
    margin: 2rem 0;
}

.partners-section a{
    max-width: min-content;
    margin: 0 auto;
    color: #336784;
    border-bottom: 1px solid #336784!important;
}

.section h2{
    font-size: 72px;
}

.news-box{
    display: flex;
    
    gap: 1rem;

}
.news-box img{
    min-height: 320px;
}

.news-box>div:nth-child(1){
    display: flex;
    flex-direction: column;
  min-width: 70%;
  gap: 1rem;

}
.news-top{
    display: flex;
    gap: 1rem;
}


.news-box>div:nth-child(2){
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.news-content>a{
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: fit-content;
    border-bottom: 1px solid #336784;
    color: #336784;
    margin-top: 2rem;
}



.invest-content{
    display: flex;
    justify-content: space-between;
}

.invest-content h3{
    max-width: 27ch;
}

.invest-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.invest-left .button{
    
    max-width: fit-content;
    color: white;
    background-color: #67B438;
    border: #67B438;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.absolute-invest-top{
    left: 35%;
    top: 0;
}

.absolute-invest-bot{
    bottom: 0;
    left: 45px;
}

.news-arrow{
    bottom: -55px;
    left: 30px;
}


.faq-items{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.faq-items>span{
    display: flex;
    flex-direction:column;
    padding: 1rem 3rem;
    border: 1px solid #336784;
    border-radius: 26px;
    transition: 1s;
}

.faq-items>span:hover{
    background-color:#DCE5EE;
    transition: 1s;
}

.faq-items>span p:nth-child(1){
    top: 30%;
    height: 32px;
    width: 32px;
    border-radius: 50%; 
    background-color: #3C6B86;
    color: white;
    left: -17px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.faq-items>span:hover .absolute{
    transition: 1s;
    background-color: #67B438;
}

.faq-items>span p:nth-child(2){
    font-weight: bold;
}

.footer a{
    color: white;
}
.footer{
    
    margin-top: 4rem;
    color: white;
}

.footer-content{
    padding: 2rem 0 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-content>div{
    display: flex;
    flex-direction: column;
}

.footer-content>div:nth-child(3){
    align-items: flex-end;
    gap: 1rem;
}


.footer-media{
    display: flex;
    gap: .5rem;
}

.footer-hr{
    border: 8px solid #13475D;
}

.section-hr{
    margin-left: 10rem;
}

.section-hr .hr{
    width: 120px
}


#news-button{
    display: none;
}


@media screen and (max-width:992px){
    .section h2{
        font-size: 32px ;
    }
    .nav ul{
        display: none;
    }
    .nav .container{
        justify-content: center;
       
    }
    .nav{
        background-color: #F6FAFE;
    }
    .smart-invest .hr{
        display: none;
    }
    .absolute{
        display: none !important;

    }
    .smart-buttons{
        flex-direction:column;
        max-width: fit-content;
       text-align: center;
    }

    .blue-section h4{
        font-size: 16px;

    }

    .blue-section h6{
        font-size: 12px;
    }

    .section-hr{
        margin: 0;
    }

   .about-section-content{
    display: block;
   }

   .partners-content .box{
    flex-direction: column;
    align-items: center;
    
   }
   .partners-content .box>span{
    min-width: 100%;
   }

   .news-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   }
   .news-box>div>div{
    flex-direction: column;
   }
  
   .news-box>div{
    display: block;

   }
   .news-box img{
    min-width: 100%;
   }
   #responsive-news{
    display: none;
   }
   #news-button{
    display: flex;
    justify-content: center;
    background: none;
    color: #336784;
   }
   
   .footer-content{
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    gap: 1rem;

   }
   .footer-content>div{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    gap: 1rem;

   }

   .smart-content img{
    min-width: 80%; 
   }
   .smart-content{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
   }
}


@media screen and (max-width:568px){
    .prefrence-content i{
            font-size: 16px;
    }
}